* {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 2rem;
}

app-header {
  width: 100%;
}

app-input-url {
  height: 120px;
  width: 100%;
}

app-shorteded-url {
  height: 100px;
}

app-footer {
  width: 100%;
  margin-top: auto;
}
