* {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 2rem;
}

app-header {
  width: 100%;
}

app-footer {
  width: 100%;
  margin-top: auto;
}

.container-card {
  width: 70vw;
  padding-bottom: 2rem;
}

.form-card {
  width: 100%;
}
