<mat-card-header>
  <h1>Chibi Link</h1>
</mat-card-header>

<mat-card appearance="outlined" class="container-card">
  <mat-card-header class="input-card">
    <mat-form-field class="form-card">
      <input matInput type="search" required [(ngModel)]="url" />
      <button
        matSuffix
        mat-icon-button
        aria-label="Search"
        (click)="handleUrl()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </mat-card-header>

  <app-shorteded-url [shortededUrl]="shortededUrl()" />
</mat-card>
