$primary-color: var(--primary-color);
$container-width: 600px;

app-header {
  width: 100%;
  background-color: $primary-color;
}

.container-url {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: $container-width;
  height: 500px;

  app-input-url,
  app-shorteded-url {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  app-input-url {
    height: 150px;
  }

  app-shorteded-url {
    height: 200px;
  }
}

app-footer {
  width: 100%;
  margin-top: auto;
}
