@defer (when shortUrl()) {
<mat-card appearance="outlined" class="container-card fade-slide-in">
  <mat-card-content class="result-card">
    <a href="{{ result }}" target="_blank" class="short-url"> {{ result }} </a>

    <button
      mat-icon-button
      matTooltip="Copy your chibi link"
      aria-label="Button that displays a tooltip when focused or hovered over"
      class="copy-button"
      (click)="copyToClipboard()"
    >
      <mat-icon>content_copy</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
} @loading ( minimum 1s) {
<mat-spinner />
} @error {
<mat-card appearance="outlined" class="container-card fade-slide-in">
  <mat-card-content class="result-card">
    <p class="error">Failed to shorten url</p>
  </mat-card-content>
</mat-card>

}
