<mat-card class="about" appearance="outlined">
  <mat-card-header class="about-header">
    <mat-card-title>About</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <section class="about-section">
      <h2>What is Chibi Link?</h2>
      <p>
        Chibi Link is a simple and efficient tool designed to make sharing long
        URLs easier and cleaner. Our service takes lengthy links and compresses
        them into short, customizable URLs that are perfect for social media,
        messaging, and other platforms.
      </p>
    </section>

    <section class="about-section">
      <h2>Why Use Chibi Link?</h2>
      <p>
        <strong>Chibi Link</strong> makes URL sharing simple and secure. Create
        short, easy-to-share links instantly, perfect for social media and
        messaging. Each link is unique and protected, ensuring safe and
        efficient sharing every time.
      </p>
    </section>

    <section class="about-section">
      <h2>How It Works</h2>
      <p>
        Simply paste a long URL into our input field, click on the "Scissors",
        and instantly receive a short, easy-to-share link. You can use Chibi
        Link to save time and effort while sharing important links with friends,
        colleagues, or your audience.
      </p>
    </section>

    <section class="about-section">
      <h2>Get Started</h2>
      <p>
        Ready to make your links smaller?
        <a routerLink="/">Go to the homepage</a> to start shortening your URLs
        with Chibi Link!
      </p>
    </section>
  </mat-card-content>
</mat-card>
