app-input-url,
app-shorteded-url {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

app-input-url {
  height: 150px;
}

app-shorteded-url {
  height: 200px;
}

.container-url {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 500px;

  @media screen and (max-width: 600px) {
    width: 450px;
  }
}
