$text: var(--text);

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 3em;

  &-header {
    margin-bottom: 2em;

    mat-card-title {
      color: $text;
      text-align: center;
      font-size: xx-large;
      font-weight: bold;
    }
  }

  mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }
}
