$colors: (
  background: #ffffff,
  primary-color: #d7e3ff,
  text: #031c3f,
);

* {
  @each $name, $color in $colors {
    --#{$name}: #{$color};
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--text);
}

app-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

a {
  color: inherit;

  :visited {
    color: inherit;
  }
}
