<footer class="footer">
  <div class="footer-container">
    <span class="footer-text"
      >© 2024 <a href="/" class="footer-link">ChibiLink™</a>. All Rights
      Reserved.</span
    >
    <ul class="footer-list">
      <li>
        <a routerLink="/about" ariaCurrentWhenActive="page">About</a>
      </li>
      <li>
        <a routerLink="/privacy-policy" ariaCurrentWhenActive="page"
          >Privacy Policy</a
        >
      </li>
      <li><a href="#" class="footer-link">Licensing</a></li>
      <li><a href="#" class="footer-link">Contact</a></li>
    </ul>
  </div>
</footer>
