<footer class="footer">
  <div class="footer-container">
    <span class="footer-text"
      >© 2024
      <a routerLink="/" ariaCurrentWhenActive="page" class="footer-link"
        >Chibi Link™</a
      >. All Rights Reserved.</span
    >
    <ul class="footer-list">
      <li>
        <a routerLink="/about" ariaCurrentWhenActive="page" class="footer-link"
          >About</a
        >
      </li>
      <li>
        <a
          routerLink="/privacy-policy"
          ariaCurrentWhenActive="page"
          class="footer-link"
          >Privacy Policy</a
        >
      </li>
      <li>
        <a
          routerLink="/licensing"
          ariaCurrentWhenActive="page"
          class="footer-link"
          >Licensing</a
        >
      </li>
      <li>
        <a href="mailto:support@chibilink.com" class="footer-link">Contact</a>
      </li>
    </ul>
  </div>
</footer>
